#### Importing the necessary libraries

In [1]:
#import dvc.api
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns
import sys, os

##### Importing required modules

In [2]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from utils import ReadFile

#### Initialize modules

In [3]:
reader = ReadFile()

#### Load Dataset using DVC

In [4]:
# Get URL from DVC
#data_url = 'data/orders.csv'
#repo = 'https://github.com/tigisthailay/Data2bots_Challenge'
#version = 'f70eeb7e3a079eb3566cddf9267ccbe6'

In [5]:
df_order = reader.read_csv('../data/orders.csv')
df_order.head()

--> file read as csv

,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price
0,1,5,2022-07-13,24,139,10,1390
1,2,14,2021-04-06,2,273,4,1092
2,3,17,2022-07-29,20,253,9,2277
3,4,14,2022-08-27,8,334,1,334
4,5,25,2021-12-15,6,334,3,1002

In [6]:
df_order.shape

(10000, 7)

In [7]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     10000 non-null  int64
 1   customer_id  10000 non-null  int64
 2   order_date   10000 non-null  object
 3   product_id   10000 non-null  int64
 4   unit_price   10000 non-null  int64
 5   quantity     10000 non-null  int64
 6   total_price  10000 non-null  int64
dtypes: int64(6), object(1)
memory usage: 547.0+ KB

In [8]:
df_order.isna().any().sum()

0

#### Load the review data set

In [9]:
df_reviews = reader.read_csv('../data/reviews.csv')
df_reviews.head()

--> file read as csv

   review  product_id
0       1          21
1       3           1
2       2           8
3       1           5
4       5          22

In [10]:
df_reviews.shape

(7236, 2)

In [11]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7236 entries, 0 to 7235
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   review      7236 non-null   int64
 1   product_id  7236 non-null   int64
dtypes: int64(2)
memory usage: 113.2 KB

In [12]:
df_reviews.isna().any().sum()

0

#### Load Shipment Deliveries dataset

In [13]:
df_shipment = reader.read_csv('../data/shipment_deliveries.csv')
df_shipment.head()

--> file read as csv

   shipment_id  order_id shipment_date delivery_date
0            1         1    2022-07-14           NaN
1            2         2           NaN           NaN
2            3         3    2022-07-31    2022-08-03
3            4         4    2022-09-02    2022-09-05
4            5         5    2021-12-19    2021-12-20

In [14]:
df_shipment.shape

(10000, 4)

In [15]:
df_shipment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   shipment_id    10000 non-null  int64
 1   order_id       10000 non-null  int64
 2   shipment_date  3243 non-null   object
 3   delivery_date  2197 non-null   object
dtypes: int64(2), object(2)
memory usage: 312.6+ KB

In [16]:
df_shipment.isna().any().sum()

2