In [1]:
import boto3
import sys
import os
import pandas as pd
import csv
import io

In [2]:
from pandasql import sqldf

In [3]:
#import important libraries
import boto3
from botocore import UNSIGNED
from botocore.client import Config

In [13]:
#creat S3 object
s3 = boto3.client('s3', config=Config(signature_version=UNSIGNED))
bucket_name = "d2b-internal-assessment-bucket"
response = s3.list_objects(Bucket=bucket_name, Prefix="orders_data")

In [12]:
'''
# Create the S3 object
obj = boto3.client.get_object(
    Bucket = 'd2b-internal-assessment-bucket',
    Key = 'orders_data/orders.csv'
)
    
# Read data from the S3 object
data = pd.read_csv(obj['Body'])
    
# Print the data frame
print('Printing the data frame...')
print(data)
'''

"\n# Create the S3 object\nobj = boto3.client.get_object(\n    Bucket = 'd2b-internal-assessment-bucket',\n    Key = 'orders_data/orders.csv'\n)\n    \n# Read data from the S3 object\ndata = pd.read_csv(obj['Body'])\n    \n# Print the data frame\nprint('Printing the data frame...')\nprint(data)\n"

In [14]:
#import dvc.api
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys, os

In [15]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from utils import ReadFile

In [16]:
reader = ReadFile()

In [17]:
dfo = reader.read_csv('../data/orders.csv')
dfr = reader.read_csv('../data/reviews.csv')
dfs = reader.read_csv('../data/shipment_deliveries.csv')

--> file read as csv
--> file read as csv
--> file read as csv

In [19]:
qry = 'select * from dfo limit 10'
sqldf(qry).head()

,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price
0,1,5,2022-07-13,24,139,10,1390
1,2,14,2021-04-06,2,273,4,1092
2,3,17,2022-07-29,20,253,9,2277
3,4,14,2022-08-27,8,334,1,334
4,5,25,2021-12-15,6,334,3,1002

In [20]:
qry = 'select * from dfs limit 10'
sqldf(qry).head()

   shipment_id  order_id shipment_date delivery_date
0            1         1    2022-07-14          None
1            2         2          None          None
2            3         3    2022-07-31    2022-08-03
3            4         4    2022-09-02    2022-09-05
4            5         5    2021-12-19    2021-12-20

In [28]:
qry1 = 'select count(shipment_id) as tt_late_shipment from dfs inner join dfo on dfo.order_id = dfs.order_id where delivery_date = NULL '
sqldf(qry1).head()

   tt_late_shipment
0                 0

In [30]:
q2 = 'select DISTNICT(shipment_date) from dfs'
sqldf(q2).head()

PandaSQLException: (sqlite3.OperationalError) no such function: DISTNICT
[SQL: select DISTNICT(shipment_date) from dfs]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [37]:

# Example 4: Split single column into two columns use apply()
dfs[['Year', 'Month','Day']] = dfs["shipment_date"].apply(lambda x: pd.Series(str(x).split("-")))
dfs.head()

   shipment_id  order_id shipment_date delivery_date  Year Month  Day
0            1         1    2022-07-14           NaN  2022    07   14
1            2         2           NaN           NaN   nan   NaN  NaN
2            3         3    2022-07-31    2022-08-03  2022    07   31
3            4         4    2022-09-02    2022-09-05  2022    09   02
4            5         5    2021-12-19    2021-12-20  2021    12   19

In [38]:
dfs['Year'].unique()

array(['2022', 'nan', '2021'], dtype=object)

In [40]:
# Using DataFrame.apply() and lambda function
dfs["shipment_date"] = dfs[["Year", "Month", "Day"]].apply(lambda x: "-".join(x), axis =1)
dfs.head()

TypeError: sequence item 1: expected str instance, float found